<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.txai.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">


        <activity android:name=".activity.ContainerActivity" />
        <activity android:name=".activity.DispatcherActivity" />
        <activity
            android:name=".activity.WebActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".permission.bridge.BridgeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:permission="${applicationId}.andpermission.bridge"
            android:theme="@style/Permission.Theme.Activity.Transparent" />
    </application>

</manifest>